@tailwind base;
@tailwind components;
@tailwind utilities;

/* .yellow{
    @apply #FE9C00
} */
.slick-slide> div{
    margin: 0 10px;
}
nav .active{
    color : #FE9C00;
}
.slick-prev{
    color : red !important;
    font-size: 10px;
}